.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}

.work__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: 0.3s;
}

.work__item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
  transform: scale(1.1);
}

.work__container {
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  justify-content: center;
}

.work__card {
  background-color: var(--container-color);
  border: var(--border);
  padding: 1.25rem;
  border-radius: 1rem;
}

.work__img-container {
  width: 295px;
  border-radius: 1rem;
  height: 194px;
  overflow: hidden;
  position: relative;
  margin-bottom: var(--mb-1);
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.work__button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.work__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.work__button:hover {
  cursor: pointer;
}

.work__button:hover .work__button-icon {
  transform: translateX(0.25rem);
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  max-width: 80%;
  width: 510px;
}

.popup-container {
  max-height: calc(90vh - 4.2rem);
  margin-top: 10px;
  margin-right: -14px;
  padding-right: 15px;
  overflow-y: visible;
  overflow-x: hidden;
}

.popup-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
  transition: color 0.3s;
}

.popup-close:hover {
  color: var(--title-color-dark);
}

.popup-image-container {
  width: 442.5px;
  border-radius: 1rem;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin-bottom: var(--mb-1);
  margin-left: auto;
  margin-right: auto;
}

.popup-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
  object-fit: cover;
}

.popup-content h3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--title-color);
  font-size: 1.3rem;
}

.popup-content p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: var(--text-color);
  text-indent: 1.5rem;
}

.popup-buttons {
  display: flex;
  column-gap: 1rem;
}

.popup-button {
  background-color: var(--title-color);
  color: var(--container-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-button:hover {
  background-color: var(--title-color-dark);
}

/* active work */
.active-work {
  background-color: var(--title-color);
  color: var(--container-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .work__container {
    gap: 1.25rem;
  }

  .work__card {
    padding: 1rem;
  }

  .work__img {
    margin-bottom: 0.75rem;
  }

  .work__title {
    margin-bottom: 0.25rem;
  }

  .popup-image {
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: max-content;
  }

  .popup-image-container {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .work__container {
    grid-template-columns: 1fr;
  }

  .work__img-container {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  .work__img {
    width: 100%;
    height: auto;
    border-radius: inherit; /* Ensure the image inherits the container's border-radius */
  }

  .popup-image-container {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  .popup-image {
    width: 100%;
    height: auto;
    margin-top: -10px;
    border-radius: inherit; /* Ensure the image inherits the container's border-radius */
  }
}

@media screen and (max-width: 350px) {
  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    column-gap: 0.25rem;
  }
}
